<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Users and forms by last hour</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h2>Start and end time for search</h2>
  <form method="POST">
    <input type="datetime-local" name="startTime" value="2017-07-11T08:59"/>
    <br/>
    <input type="datetime-local" name="endTime" value="2017-07-11T09:00"/>
    <br/>
    <input type="submit" value="Search" />
  </form>
  <br/>
  <h2>Users and forms by time</h2>
  <table align="left" border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <thead>
    <tr>
      <th style="text-align:center"><b>User UID</b></th>
      <th style="text-align:center"><b>Form id</b></th>
    </tr>
    </thead>
    <tr th:if="${formsPage.getTotalElements() == 0}">
    <td colspan="2"> No UserForm Available </td>
    </tr>
    <tr th:each="form, iStat : ${formsPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
      <td style="text-align:left" th:utext="${form.userUid}"></td>
      <td style="text-align:left" th:utext="${form.formId}"></td>
    </tr>
  </table>
  <div th:if="${formsPage.totalPages > 0}" class="pagination"
       th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/lastHour(page=${pageNumber}, start=${start}, end=${end})}"
       th:text=${pageNumber}
       th:class="${pageNumber==formsPage.number + 1} ? active"></a>
  </div>
</body>
</html>