<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Users and forms by last hour</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <br/>
  <h2>Users and forms by last hour</h2>
  <table align="left" border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <thead>
    <tr>
      <th style="text-align:center"><b>User UID</b></th>
      <th style="text-align:center"><b>Form id</b></th>
    </tr>
    </thead>
    <tr th:if="${!forms.iterator().hasNext()}">
    <td colspan="2"> No UserForm Available </td>
    </tr>
    <tr th:each="form : ${forms}">
      <td style="text-align:left" th:utext="${form.userUid}"></td>
      <td style="text-align:left" th:utext="${form.formId}"></td>
    </tr>
  </table>
</body>
</html>