<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Users</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <br/>
  <h2>Top five forms</h2>
  <table align="left" border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <thead>
    <tr>
      <th style="text-align:center"><b>Form</b></th>
      <th style="text-align:center"><b>Count</b></th>
    </tr>
    </thead>
    <tr th:each="topForm : ${forms}">
      <td style="text-align:left" th:utext="${topForm.formId}"></td>
      <td style="text-align:left" th:utext="${topForm.count}"></td>
    </tr>
  </table>
</body>
</html>