<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Users</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h2>Add userForm</h2>
  <form method="POST">
    <input type="time" name="time" placeholder="Time"/>
    <br/>
    <input type="text" name="group" placeholder="Group"/>
    <br/>
    <input type="datetime-local" name="date" placeholder="Date"/>
    <br/>
    <input type="submit" value="Create" />
  </form>
  <br/>
  <h2>List user forms</h2>
  <table align="left" border="1" cellpadding="1" cellspacing="1" style="width:500px">
    <thead>
    <tr>
      <th style="text-align:center"><b>UID</b></th>
      <th style="text-align:center"><b>Time</b></th>
      <th style="text-align:center"><b>Group</b></th>
      <th style="text-align:center"><b>Type</b></th>
      <th style="text-align:center"><b>Subtype</b></th>
      <th style="text-align:center"><b>URL</b></th>
      <th style="text-align:center"><b>Organization</b></th>
      <th style="text-align:center"><b>Form</b></th>
      <th style="text-align:center"><b>Code</b></th>
      <th style="text-align:center"><b>Date</b></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${!forms.iterator().hasNext()}">
      <td colspan="2"> No UserForm Available </td>
    </tr>
    <tr th:each="form : ${forms}">
      <td style="text-align:left" th:utext="${form.userUid}"></td>
      <td style="text-align:left" th:utext="${form.eventTime}"></td>
      <td style="text-align:left" th:utext="${form.eventGroup}"></td>
      <td style="text-align:left" th:utext="${form.eventType}"></td>
      <td style="text-align:left" th:utext="${form.eventSubtype}"></td>
      <td style="text-align:left" th:utext="${form.url}"></td>
      <td style="text-align:left" th:utext="${form.organizationId}"></td>
      <td style="text-align:left" th:utext="${form.formId}"></td>
      <td style="text-align:left" th:utext="${form.code}"></td>
      <td style="text-align:left" th:utext="${form.date}"></td>
    </tr>
    </tbody>
  </table>
</body>
</html>