<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Users</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h2>Add userForm</h2>
  <form method="POST">
    <input type="time" name="time" placeholder="Time"/>
    <br/>
    <input type="text" name="group" placeholder="Group"/>
    <br/>
    <input type="datetime-local" name="date" placeholder="Date"/>
    <br/>
    <input type="submit" value="Create" />
  </form>
  <br/>
  <h2>List userForms</h2>
  <table>
    <thead>
    <tr>
      <th> UID </th>
      <th> Time </th>
      <th> Group </th>
      <th> Type </th>
      <th> Subtype </th>
      <th> URL </th>
      <th> Organization</th>
      <th> Form </th>
      <th> Code </th>
      <th> Date </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${!userForms.iterator().hasNext()}">
      <td colspan="2"> No UserForm Available </td>
    </tr>
    <tr th:each="userForm : ${userForms}">
      <td><span th:text="${userForm.userUid}"></span></td>
      <td><span th:text="${userForm.eventTime}"></span></td>
      <td><span th:text="${userForm.eventGroup}"></span></td>
      <td><span th:text="${userForm.eventType}"></span></td>
      <td><span th:text="${userForm.eventSubtype}"></span></td>
      <td><span th:href="${userForm.url}"></span></td>
      <td><span th:text="${userForm.organizationId}"></span></td>
      <td><span th:text="${userForm.formId}"></span></td>
      <td><span th:text="${userForm.code}"></span></td>
      <td><span th:text="${userForm.date}"></span></td>
    </tr>
    </tbody>
  </table>
</body>
</html>